
.splide {
    height: 300px; 
    min-width: 250px;
    max-width: 540px;
    gap: 10px;
    top: 20px;
}
.splide__slide  {
    height: 275px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.splide__arrow {
 transform: none;
}